<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Le SuperCoin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/product">Les annonces
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        {% if app.user %}
                <a href="{{ path('security_logout') }}" class="nav-link btn btn-success">Déconnexion</a>
        {% else %}
            <div class="mx-2">
                <a href="{{ path('security_login') }}" class="nav-link btn btn-success">Connexion</a>
            </div>
            <div class="mx-2">
                <a href="{{ path('security_register') }}" class="nav-link btn btn-success">Inscription</a>
            </div>

        {% endif %}
    </div>
</nav>